# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Web_App/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/Web_Api/.vs
/Web_Api/Web_Api/bin/Debug/net7.0
/Web_Api/Web_Api/obj
/Web_Api/Web_Api/bin/Release/net7.0
/Web_Api/Web_Api/Properties/PublishProfiles
/Web_Api/Web_Api/.config
