@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$primary1: #d01317;
$primary2: #9d1915;
$primary3: #6a1415;


.wrapper {
  overflow: hidden;
}

.indicators{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.dot{
  width: 12px;
  height: 12px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #FFAAAA;
  border-radius: 100%;
  transition: 0.4s cubic-bezier(0.96, 0.32, 0.29, 0.83) 0s;
}

.selected{
  background-color: #d01317;
}

.carousel {
  display: flex;
  align-items: center;
  position: relative;
  transition: left 0.4s cubic-bezier(0.96, 0.32, 0.29, 0.83) 0s;
  transition: left 0.4s ease 0s;
}


.noAnimation {
  transition: none;
}

.item{
  margin: 64px;
}

.carouselItem {
  border-radius: 30px;
  width: 540px;
  aspect-ratio: 16/9;
  cursor: default;
  display:block;
}

.chosenItem{
  scale: 1.2;
  cursor: pointer;
  transition: scale 0.4s cubic-bezier(0.83, 0.11, 0.46, 0.92) 0s;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #ffffff;
  background-image: radial-gradient(#FFAAAA 1px, #ffffff 1px);
  background-size: 20px 20px;
}

.header{
  padding-top: 40px;
}

.Chosen{
  transition: all 0.3s ease-in-out 0s;
  opacity: 1;
}

.NotChosen{
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.title {
  font-size: 65px;
  margin: 0px;
}

.subTitle {
  font-size: 30px;
  color: $primary1;
  margin: 0px;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 30px;
  font-size: 10px;
}

#header {
  font-size: 50px;
  margin: 0px;
}

#subHeader {
  font-size: 20px;
  margin: 0px;
}

p {
  font-size:17px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.activeNavItem {
  border-bottom: 2px solid #FFAAAA;
}

code {
  border: 2px solid rgba($color: black, $alpha: 0.1);
  border-radius: 7px;
  max-width: 70%;
}

.lineBreakDisplay{
  white-space: pre-line;
  max-width: 90%;
}

.CTAbutton {
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  font-size: 14px;
  color: #fff;
  background-color: $primary1;
  padding: 13px 36px;
  border: solid $primary1 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 7px;
  transition: 835ms;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.CTAbutton:hover {
  transition: 835ms;
  padding: 13px 44px;
  background-color: #fff;
  color: $primary1;
  border: solid 2px $primary1;
}

#pickedTopic {
  background-color: rgba($color: red, $alpha: 0.1);
}

#pickedLecture {
  background-color: rgba($color: black, $alpha: 0.1);
}

